.container {
    height: 100%;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 50px auto 100px 25px;
    grid-template-areas: 
        "m h h h h h h h h h h h"
        "m c c c c c c c c c c c"
        "m n n n n d d d d d d d"
        "m f f f f f f f f f f f";
}

.divOne{
    /*grid-column-start: 1;
    grid-column-end: 12;*/ 
    
    /**grid-area*/
    grid-area: h;
}

.divTwo{
    /*grid-column: 12 / -1;
    grid-row: 1 / 5;*/

    /**grid-area*/
    grid-area: m;
}

.divThree{
    /*grid-column: 1 / 12;*/
    
    /**grid-area*/
    grid-area: c;    
}

.divFour{
    /*grid-column: 1 / 2;*/
    
    /**grid-area*/
    grid-area: n;
}

.divFive{
    /*grid-column: 2 / 12;*/
   
    /**grid-area*/
    grid-area: d;
}

.divSix{
    /*grid-column: 1 / 12;*/

    /**grid-area*/
    grid-area: f;   
}

